In [1]:
import pandas as pd
import numpy as np

In [2]:
cast=pd.read_csv(r"C:\Users\surya\Downloads\cast\cast.csv")

In [3]:
cast

,title,year,name,type,character,n
0,Suuri illusioni,1985,Homo $,actor,Guests,22.0
1,Gangsta Rap: The Glockumentary,2007,Too $hort,actor,Himself,NaN
2,Menace II Society,1993,Too $hort,actor,Lew-Loc,27.0
3,Porndogs: The Adventures of Sadie,2009,Too $hort,actor,Bosco,3.0
4,Stop Pepper Palmer,2014,Too $hort,actor,Himself,NaN
...,...,...,...,...,...,...
3311642,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0
3311643,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3311644,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3311645,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3311646,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

In [4]:
cast.head(10)

,title,year,name,type,character,n
0,Suuri illusioni,1985,Homo $,actor,Guests,22.0
1,Gangsta Rap: The Glockumentary,2007,Too $hort,actor,Himself,NaN
2,Menace II Society,1993,Too $hort,actor,Lew-Loc,27.0
3,Porndogs: The Adventures of Sadie,2009,Too $hort,actor,Bosco,3.0
4,Stop Pepper Palmer,2014,Too $hort,actor,Himself,NaN
5,Townbiz,2010,Too $hort,actor,Himself,NaN
6,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
7,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
8,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
9,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0

# 1.How many movies are listed in the titles dataframe?

In [5]:
cast.title.count()

3311647

# 2.What are the earliest two films listed in the titles dataframe?

In [6]:
cast.groupby('year').title.value_counts().head(2).unstack()

title  Miss Jerry  Jeffries-Sharkey Contest
year
1894          3.0                       NaN
1899          NaN                       4.0

# 3.How many movies have the title "Hamlet"?

In [7]:
cast[cast.title=='Hamlet'].title.count()

299

# 4.How many movies are titled "North by Northwest"?

In [8]:
cast[cast.title=='North by Northwest'].title.count()

111

# 5.When was the first movie titled "Hamlet" made?

In [9]:
cast[cast.title=='Hamlet'].groupby('year').value_counts().head(1).unstack()

n                                        2.0
year title  name        type  character
1911 Hamlet Aage Hertel actor Claudius     1

# 6.List all of the "Treasure Island" movies from earliest to most recent.

In [10]:
cast[cast.title=='Treasure Island'].sort_values(by='year')

,title,year,name,type,character,n
1304778,Treasure Island,1918,Herschel Mayall,actor,Prologue Player,NaN
3258893,Treasure Island,1918,Eleanor Washington,actress,Prologue Player,NaN
3026895,Treasure Island,1918,Violet Radcliffe,actress,Long John Silver,3.0
1160631,Treasure Island,1918,Raymond Lee,actor,Bit Role,NaN
1188122,Treasure Island,1918,Elmo Lincoln,actor,Prologue Player,NaN
...,...,...,...,...,...,...
1653669,Treasure Island,1999,Victor Raider-Wexler,actor,Samowitz,10.0
1720561,Treasure Island,1999,Scot Thomas Robinson,actor,Jimmy,11.0
1802485,Treasure Island,1999,Richard Schave,actor,Man,21.0
2693149,Treasure Island,1999,Stephanie Ittleson,actress,Stella,7.0
810348,Treasure Island,1999,Rio Hackford,actor,Hans,23.0

# 7.How many movies were made in the year 1950?

In [11]:
cast[cast.year==1950].title.value_counts().count()

877

# 8.How many movies were made in the year 1960?

In [12]:
cast[cast.year==1960].title.value_counts().count()

1034

# 9.How many movies were made from 1950 through 1959?

In [13]:
a = range(1950,1960)
filter_list=list(a)
cast[cast.year.isin(filter_list)].groupby('year').title.value_counts()

year  title
1950  Gone to Earth                      294
      Kill the Umpire                    135
      Riding High                        113
      When Willie Comes Marching Home    105
      Black Hand                         103
                                        ...
1959  Tetsuwan toshu inao monogatari       1
      The Lost Class of '59                1
      Unpaid Debt                          1
      Veter                                1
      Vrata ostaju otvorena                1
Name: title, Length: 9717, dtype: int64

In [41]:
cast[(cast.year>=1950)&(cast.year<=1959)].groupby('year').title.value_counts().count()

9717

# 10.In what years has a movie titled "Batman" been released?

In [15]:
cast[cast.title=='Batman'].groupby('year').title.value_counts()

year  title
1943  Batman    52
1989  Batman    66
Name: title, dtype: int64

# 11.How many roles were there in the movie "Inception"?

In [16]:
cast[(cast.title=='Inception')].character.nunique()

51

# 12.How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [17]:
len(cast[(cast.title=="Inception")&(cast.n.isnull())])

21

# 13.But how many roles in the movie "Inception" did receive an "n" value?

In [18]:
len(cast[(cast.title=="Inception")&(cast.n.notnull())])

51

# 14.Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [19]:
cast[(cast.title=='North by Northwest')&(cast.n.notnull())].sort_values(by='n')

,title,year,name,type,character,n
773496,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3084579,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1292652,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2776446,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
315343,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2685171,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1504777,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1130557,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2167754,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1607029,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
590702,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2033529,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
411247,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1339004,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
180985,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1228229,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

# 15.Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [20]:
cast[(cast.title=='Sleuth')&(cast.year==1972)&(cast.n)].sort_values(by='n')

,title,year,name,type,character,n
1513570,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
288502,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
330750,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1299944,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2406762,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1285278,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

# 16.Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [21]:
cast[(cast.title=='Sleuth')&(cast.year==2007)&(cast.n)].sort_values(by='n')

          title  year           name   type    character    n
288503   Sleuth  2007  Michael Caine  actor       Andrew  1.0
1147041  Sleuth  2007       Jude Law  actor         Milo  2.0
1602268  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

# 17.How many roles were credited in the silent 1921 version of Hamlet?

In [22]:
cast[(cast.year==1921)&(cast.title=='Hamlet')&(cast.character)].title.count()

9

# 18.How many roles were credited in Branagh’s 1996 Hamlet?

In [23]:
cast[(cast.title=="Hamlet")&(cast.year==1996)&(cast.name.str.contains('Branagh'))].character.nunique()

1

# 19.How many "Hamlet" roles have been listed in all film credits through history?

In [24]:
cast[cast.character=='Hamlet'].title.nunique()

62

# 20.How many people have played an "Ophelia"?

In [25]:
cast[(cast.character=='Ophelia')].name.nunique()

94

# 21.How many people have played a role called "The Dude"?

In [26]:
cast[(cast.character=='The Dude')&(cast.name)].name.nunique()

16

# 22.How many people have played a role called "The Stranger"?

In [27]:
cast[(cast.character=='The Stranger')&(cast.name)].name.nunique()

184

# 23.How many roles has Sidney Poitier played throughout his career?

In [28]:
cast[cast.name=='Sidney Poitier'].character.nunique()

41

# 24.How many roles has Judi Dench played?

In [29]:
cast[cast.name=='Judi Dench'].character.nunique()

44

# 25.List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [30]:
cast[(cast.name=='Cary Grant')&(cast.n==2.0)&(cast.year>=1940)&(cast.year<=1949)].sort_values(by='year')

                   title  year        name   type    character    n
773493  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
773503    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

# 26.List the leading roles that Cary Grant played in the 1940s in order by year.

In [31]:
cast[(cast.name=='Cary Grant')&(cast.n==1.0)&(cast.year>=1940)&(cast.year<=1949)].sort_values(by='year')

,title,year,name,type,character,n
773518,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
773475,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
773520,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
773508,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
773522,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
773499,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
773466,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
773491,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
773492,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
773500,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
773458,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
773495,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
773494,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
773497,Notorious,1946,Cary Grant,actor,Devlin,1.0
773514,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick,1.0
773515,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
773490,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
773470,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
773479,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0

# 27.How many roles were available for actors in the 1950s?

In [32]:
cast[(cast.year>=1950)&(cast.year<=1959)&(cast.type=='actor')].type.value_counts()

actor    147951
Name: type, dtype: int64

# 28.How many roles were available for actresses in the 1950s?

In [33]:
cast[(cast.year>=1950)&(cast.year<=1959)&(cast.type=='actress')].type.value_counts()

actress    53969
Name: type, dtype: int64

# 29.How many leading roles (n=1) were available from the beginning of film history through 1980?

In [34]:
cast[(cast.year<=1980)&(cast.n==1)].character.nunique()

49297

# 30.How many non-leading roles were available through from the beginning of film history through 1980?

In [35]:
cast[(cast.year<=1980)&(cast.n!=1)].character.nunique()

537870

# 31.How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [36]:
cast[(cast.year<=1980)&(cast.n.isnull())].character.nunique()

177287